<h1 mat-dialog-title>Add Customer Form</h1>

<div mat-dialog-content>

  <form [formGroup]="customerForm">

    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input formControlName = "firstName" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName = "lastName" matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>VAT ID number</mat-label>
      <input formControlName = "vatIdNum" matInput placeholder ="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input formControlName = "address" matInput placeholder ="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

  </form>

  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" (click)="closeDialog()">Close</button>
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addCustomer()">{{actionButton}}</button>
  </div>


</div>

